<div id="answers-div">
	<% if @survey.scale_size == 2 %>
	
	<% elsif @survey.scale_size == 5 %>
	 	<% 4.downto(0) do |i| %>
			<%=link_to image_tag(i.to_s + '-' + @survey.scale_type + '.png'), '#', :onclick => "return saveRating('#{i}')"%>
		<% end %>
	<% else %>
		Sorry, an error occurred
	<% end %>
</div>