<table class="survey">
	<tr>
		<% @answers.each do |a| %>
			<td class="positioned" valign="bottom" style="vertical-align:bottom">
				<div style="height:<%=(@votes[a.id].nb * 300)/@max%>px" class="stat-block">
				
					<%= (@votes[a.id].nb*100/@total)%>% 
				</div>
			</td>
		<% end %>
	</tr>
	<tr>
		<% @answers.each do |a| %>
			<td>
				<%=a.content%>
				
			</td>
		<% end %>
	</tr>
</table>