<!DOCTYPE html>
<html>
<head>
  <title>MoodApp</title>

  <%= stylesheet_link_tag 'style.public' %>
  <%= javascript_include_tag 'jquery', 'jquery_ujs', 'application' %>

<!--  Mobile Viewport Fix
        j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
    device-width : Occupy full width of the screen in its current orientation
    initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
    maximum-scale = 1.0 retains dimensions instead of zooming in if page width < device width
    -->
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
	<!-- full-screen on mobile safari - only after added to home screen -->
	    <meta name="apple-mobile-web-app-capable" content="yes" />
	    <!-- translucent status bar - only after added to home screen -->
	    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
</head>
<body>

<div id="wrapper">
<%= yield %>
</div>
</body>
</html>
